.container {
    width: 920px;
    height: 920px;
    max-height: 920px;
    display: grid;
    --num-rows: 4;
    grid-template-columns: repeat(var(--num-rows), auto);
    grid-template-rows: repeat(var(--num-rows), auto);
    grid-gap:1px;
}

.box {
    border: solid 1px;
    border-radius: 5%;
    background-color: red;
}

.clear {
    background-color: white;
}